:root {
  --fuschia-100: rgba(239, 93, 168, 1);
  --fuschia-80: rgba(241, 120, 182, 1);
  --fuschia-60: rgba(252, 221, 236, 1);
  --iris-100: rgba(93, 95, 239, 1);
  --iris-80: rgba(120, 121, 241, 1);
  --iris-60: rgba(165, 166, 246, 1);
}
